resources/api/tom.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://tempuri.org/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  targetNamespace="http://tempuri.org/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CreateElzamRequset">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nationalCode" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="firstName" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="lastName" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="fatherName" type="s:string"/>
            <s:element minOccurs="1" maxOccurs="1" name="isOrganization" type="s:boolean"/>
            <s:element minOccurs="0" maxOccurs="1" name="mobile" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="address" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="PostalCode" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="cms" type="s:string"/>
            <s:element minOccurs="1" maxOccurs="1" name="area" type="s:double"/>
            <s:element minOccurs="0" maxOccurs="1" name="requestNum" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="descriptions" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="tag" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="surveyNationalCode" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateElzamRequsetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateElzamRequsetResult" type="tns:RequestOutPut"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RequestOutPut">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="FollowCode" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="SurveyName" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="SurveyLastname" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="SurveyNationalCode" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="SurveyUsername" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="SurveySSbrCode" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="SurveyMobile" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="errorMessage" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="successful" type="s:boolean"/>
          <s:element minOccurs="0" maxOccurs="1" name="SmsMessage" type="s:string"/>
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>

  <wsdl:message name="CreateElzamRequsetSoapIn">
    <wsdl:part name="parameters" element="tns:CreateElzamRequset"/>
  </wsdl:message>
  <wsdl:message name="CreateElzamRequsetSoapOut">
    <wsdl:part name="parameters" element="tns:CreateElzamRequsetResponse"/>
  </wsdl:message>

  <wsdl:portType name="RequestWSSoap">
    <wsdl:operation name="CreateElzamRequset">
      <wsdl:input message="tns:CreateElzamRequsetSoapIn"/>
      <wsdl:output message="tns:CreateElzamRequsetSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="RequestWSSoap" type="tns:RequestWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="CreateElzamRequset">
      <soap:operation soapAction="http://tempuri.org/CreateElzamRequset" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="RequestWS">
    <wsdl:port name="RequestWSSoap" binding="tns:RequestWSSoap">
      <soap:address location="http://localhost:82/RequestWS.asmx"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>